@import 'Vars';

.blog{
  width: 900px;
  margin:auto;
  font-family: 'Lato', sans-serif;
}

.blog h2{
  margin-bottom: 25px;
}

.blog-body{
  composes: clearfix from "./Index.css";
  width: 100%;
}

.blog-section{

}

.blog-section:first-child{
  float:left;
  width: 115px;
  border-bottom: 2px solid gray;
  font-size: 16px;
  color: gray;
  padding: 5px 0;
}

.blog-section:last-child{
  float:right;
  width: 725px;
}
