.post{
  composes: clearfix from "./Index.css";
  margin-top: 25px;
  padding-bottom:50px;
  border-bottom: 1px solid gray;
}

.title{
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}


.info{
  float:left;
  width:100px;
  padding-right:50px;
  text-align: right;
}

.author{
  margin-bottom:5px;
}

.date-published{
  font-size:12px;
  color:gray;
}

.content{
  float:left;
  width:850px;
}

.content p{
  margin-bottom:20px;
  line-height: 20px;
}

.content pre{
  margin: 20px 0;
  line-height: 20px;
  padding: 0 20px;
  background-color: #262f3d;
  color:white;
}
