@import 'Vars';

.blog-link{
  width: 100%;
  margin-top: 24px;
  padding-bottom: 31px;
  background-image: linear-gradient(to right, #aaa 15%, rgba(255, 255, 255, 0) 20%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}

.blog-link:first-child{
  margin-top: 0;
}

.title{
  display:inline-block;
  color:$theme-color-light-blue;
  font-size:24px;
  text-decoration: none;
}

.info-div{
  position: relative;
  margin-top: 5px;
  font-size:14px;
  color:gray;
}

.info-div span{
  margin-right: 20px;
}

.tag{
  display:inline-block;
}

.info-div i{
  color:#bbb;
  font-size: 12px;
}

.post-summary{
  margin-top: 10px;
  font-size: 16px;
}

.read-more-link{
  display:inline-block;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
  color:$theme-color-light-blue;

}
