@import 'Vars';

.contact-form{
  width: 500px;
  margin:auto;
}

.button{
  width:auto;
  font-size: 12px;
  height:30px;
  background-color: $theme-color-light-blue;
  color:white;
  border:0;
  padding: 0 10px;
  border-radius: 5px;
}
