@import 'Vars';

.row{
  margin-top:15px;
  margin-bottom: 15px;
}

.required-fields-text {
  color: red;
  font-size: 14px;
}

.submit-button {
  width:auto;
  font-size: 12px;
  height:30px;
  background-color: $theme-color-light-blue;
  color:white;
  border:0;
  padding: 0 10px;
  border-radius: 7.5px;
}
