@import 'Vars.scss';

.navLink{
  display: inline-block;
  position: relative;
  margin: 6px 0;        /*prob don't need both */
  padding: 5px 50px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.navLink.selected::after {
  content: " ";
  position: absolute;
  left:50%;
  top: 28px;
  width: 27px;
  height: 27px;
  background-color: white;
  transform: translate(-50%, 0%) rotateY(30deg) rotateZ(45deg);
}
