.entry{
  padding: 20px 0;
  border-bottom: 1px solid #dddddd;
}

.entry:last-child{
  border-bottom:0;
}

.title{
  text-decoration: none;
}

.date {
  color: #596979;
  margin-top: 5px;
  line-height: 100%;
}

.summary {
  margin-top: 5px;
}

.summary a {
  margin-left: 5px;
}
