.container {
  display: flex;
  align-items: center;
}

.pic {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-image: url('../../assets/images/me.png');
}

.nameContainer {
  margin-left: 15px;
}

.name {
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #596979;
  margin-top: 3px;
}
